@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400;500;600;700;800;900&family=Tektur:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './pages/landing';

// simple reset css
* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// component style
@import './components/list_post';